*{
    background-color: rgb(255,240,245);
    text-decoration: none;
    list-style: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
@media screen and (min-width: 960px) {
.home-btn{
    display: none;
}
h1.title{
    font-family: 'Tangerine', cursive;
    font-size: 100px;
}
header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
        ul{
            position: relative;
            width: 100vw;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: center;
            top: 0;
            right: 0;

                li{
                    margin: 1em;
                    background-color: transparent;
                        a{
                            background-color: transparent;
                            color: #202020;
                            opacity: 1;
                        }
                }
    }
}
#menu.scroll{
    background-color: rgba(#fff,0.8);
    position: fixed;
    z-index: 999;
    top: -2vh;
    right:0;
    animation: hd-fixed;
    animation-duration: 0.3s;
}
@keyframes hd-fixed {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.cat-all{
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .cat{
        width: 40%;
        height: auto;
        border-radius: 1em;
        background-color: #fff;
        box-shadow: 5px 5px 20px #c8c9cc,-5px -5px 20px #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;

            .section-title{
                text-align: center;
        }
    }
}
.cat h2{
    background-color: #fff;
}
.cat h3{
    background-color: #fff;
}
.cat-img{
    width: 74%;
    height: auto;
}
.cat p{
    background-color: #fff;
}
.home{
    position: absolute;
    padding-top: 10vh;
    img{
        position: fixed;
        width: 15%;
        height: auto;
    }
}
footer{
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
        ul{
            margin: 0;
            padding: 0;
            a{
                color: #202020;
        }
    }
}
.sns{
    width: 50%;
}
.sns ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
        li{
            width: 25%;
        
    }
}
.instagram img{
    width: 30%;
}
.Twitter img{
    width: 30%;
}
}

@media screen and (max-width: 959px) {
    .home-btn{
        z-index: 999;
        right: 0;
        position: absolute;
        width: 20%;
        bottom: 0;
        opacity: 0;
        background-color: transparent;
        margin: 0 2em 1em 0 ;
    }
    #home-btn.btn{
        width: 10%;
        opacity: 1;
        position: fixed;
        z-index: 999;
        bottom: 0;
        animation-duration: 0.5s;
        animation-name: btn;
        margin: 0 2em 1em 0 ;
    }
    @keyframes btn {
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.2;
        }
        50%{
            opacity: 0.4;
        }
        75%{
            opacity: 0.6;
        }
        100%{
            opacity: 1;
        }
    }
    .menu{
        display: none;
    }
    h1.title{
        font-family: 'Tangerine', cursive;
        font-size: 100px;
    }
    header{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    
            ul{
                display: flex;
                flex-direction: row;
                padding: 0;
    
                    li{
                        margin: 1em;
    
                            a{
                                color: #202020;
                            }
                    }
        }
    }
    
    .cat-all{
        margin-top: 5em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    
        .cat{
            width: 85%;
            height: auto;
            border-radius: 1em;
            background-color: #fff;
            box-shadow: 5px 5px 20px #c8c9cc,-5px -5px 20px #ffffff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;
    
                .section-title{
                    text-align: center;
            }
        }
    }
    .cat h2{
        background-color: #fff;
    }
    .cat h3{
        background-color: #fff;
    }
    .cat-img{
        width: 74%;
        height: auto;
    }
    .cat p{
        background-color: #fff;
    }

    footer{
        text-align: center;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
            ul{
                margin: 0;
                padding: 0;
                a{
                    color: #202020;
            }
        }
    }
    .sns{
        width: 50%;
    }
    .sns ul{
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
            li{
                width: 25%;
            
        }
    }
    .instagram img{
        width: 110%;
    }
    .Twitter img{
        width: 110%;
    }
    }